<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/PROJECT_LO54</property>
    <property name="hibernate.connection.username">lo54</property>
    <property name="hibernate.connection.password">lo54</property>
    <mapping resource="fr/utbm/lo54/project/project_lo54/test/Course.hbm.xml"/>
    <mapping resource="fr/utbm/lo54/project/project_lo54/test/CourseSession.hbm.xml"/>
    <mapping resource="fr/utbm/lo54/project/project_lo54/test/Client.hbm.xml"/>
    <mapping resource="fr/utbm/lo54/project/project_lo54/test/Location.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
