<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listCourses</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.ListCourseSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listCourses</servlet-name>
        <url-pattern>/listCourses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addCourse</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.AddCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filterCourseName</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.FilterCourseNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filterCourseName</servlet-name>
        <url-pattern>/filterCourseName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filterCourseDate</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.FilterCourseDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filterCourseDate</servlet-name>
        <url-pattern>/filterCourseDate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filterServlet</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.FilterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filterServlet</servlet-name>
        <url-pattern>/filterCourses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filterLocation</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.FilterLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filterLocation</servlet-name>
        <url-pattern>/filterLocation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inscriptionForm</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.InscriptionFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inscriptionForm</servlet-name>
        <url-pattern>/inscriptionForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>fr.utbm.lo54.project.webapp.InscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
